<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wuba.image">

    <application>
        <!--图片预览界面-->
        <activity
            android:name=".photopicker.activity.BGAPhotoPreviewActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/BGAPPTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!--图片选择界面-->
        <activity
            android:name=".photopicker.activity.BGAPhotoPickerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/BGAPPTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!--图片选择预览界面-->
        <activity
            android:name=".photopicker.activity.BGAPhotoPickerPreviewActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/BGAPPTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- 裁剪图片 -->
        <activity android:name=".photopicker.crop.CropImageActivity" />
    </application>

</manifest>
